<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>Backbone Table</title>
		<meta name="description" content="backbone data table">
		<meta name="author" content="sandeep vemula">

		<meta name="viewport" content="width=device-width; initial-scale=1.0">

		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/bootstrap-responsive.css">
		<link rel="stylesheet" href="css/style.css">

		<script src="js/libs/modernizr-2.5.3-respond-1.1.0.min.js"></script>
	</head>
	<body>
		<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
		<div>
			<div class="well">
				<a id="link-skript" href="#" style="border:0;">
					<img class="logo" src="img/logo.jpg" alt="Logo" width="110px">
				</a>
			</div>
		</div>
		
		<div class="container">
			<div class="row">
				<div class="span12">
				
				</div>
			</div>
		</div>
		
		<script id="tpl-table-list-item" type="text/template">
			<table class="table table-bordered table-striped table-condensed" data-toggle="sort">
				<caption>Sample table using Backbone</caption>
				<thead>
					<tr>
						<th>#</th><th>Column1</th><th>Column2</th><th>Column3</th><th></th>
					</tr>
				</thead>
				<tbody>
				<% for (var i = 0; i < data.length; i++) { %>
						<tr>
							<td><%= i %></td>
							<td><%= data[i].col1 %></td>
							<td><button class="btn btn-small btn-primary"><%= data[i].col2 %></button></td>
							<td><button class="btn btn-small btn-warning"><b><%= data[i].col3 %></button></b></td>
							<td><input type='checkbox' /><%= data[i].col3 %></td>
						</tr> 
				<% } %>
				</tbody>
			</table>
			<div class="pull-right">
				<div class="pagination">
					<ul>
						<li class="<%=page.pageP=="null"?"disabled":""%>">
							<a data-rel="page" data-href="<%=page.pageP%>" href="javascript:void(0);">&larr; Prev</a>
						</li>
						<li class="<%=page.pageN=="null"?"disabled":""%>">
							<a data-rel="page" data-href="<%=page.pageN%>" href="javascript:void(0);">Next &rarr;</a>
						</li>
					</ul>
				</div>
			</div>
		</script>
		<hr />
		<footer>
			<p>&copy; InfoSTEP India Pvt. Ltd. 2012</p>
		</footer>
		

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		
		<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.2.min.js"><\/script>')</script>

		<script src="js/libs/bootstrap/bootstrap.min.js"></script>
		
		<script src="js/libs/underscore.js"></script>
		<script src="js/libs/backbone.js"></script>
		
		<script src="js/bootbox.min.js"></script>

		<script src="js/plugins.js"></script>
		<script src="js/script.js"></script>
		
		<!--
		<script src="js/table/models/table-model.js"></script>
		<script src="js/table/collection/table-collection.js"></script>
		<script src="js/table/views/table-item-view.js"></script>
		<script src="js/table/views/table-view.js"></script>
		<script src="js/table/table-app.js"></script>
		-->
				
		<script src="js/table/table.js"></script>
		
		
		<script src="js/libs/bootstrap/sorter.js"></script>
		
		
		<script type="text/javascript">
		$.fn.alternateRowColors = function() {

  $('tbody tr:odd', this).removeClass('even').addClass('odd');

  $('tbody tr:even', this).removeClass('odd').addClass('even');

  return this;

};

 

$(document).ready(function() {

  var alternateRowColors = function($table) {

    $('tbody tr:odd', $table).removeClass('even').addClass('odd');

    $('tbody tr:even', $table).removeClass('odd').addClass('even');

  };

 

  $('table.sortable').each(function() {

    var $table = $(this);

    $table.alternateRowColors($table);

    $table.find('th').each(function(column) {

      var findSortKey;

 

      if ($(this).is('.sort-alpha')) {

        findSortKey = function($cell) {

          return $cell.find('.sort-key').text().toUpperCase() +
                                    ' ' + $cell.text().toUpperCase();

        };

      }

      else if ($(this).is('.sort-numeric')) {

        findSortKey = function($cell) {

          var key = parseFloat($cell.text().replace(/^[^d.]*/, ''));

          return isNaN(key) ? 0 : key;

        };

      }

      else if ($(this).is('.sort-date')) {

        findSortKey = function($cell) {

          return Date.parse('1 ' + $cell.text());

        };

      }

 

      if (findSortKey) {

        $(this).addClass('clickable').hover(function() {

          $(this).addClass('hover');

        }, function() {

          $(this).removeClass('hover');

        }).click(function() {

          var newDirection = 1;

          if ($(this).is('.sorted-asc')) {

            newDirection = -1;

          }

 

          rows = $table.find('tbody > tr').get();

 

          $.each(rows, function(index, row) {

            row.sortKey = 
                        findSortKey($(row).children('td').eq(column));

          });

          rows.sort(function(a, b) {

            if (a.sortKey < b.sortKey) return -newDirection;

            if (a.sortKey > b.sortKey) return newDirection;

            return 0;

          });

          $.each(rows, function(index, row) {

            $table.children('tbody').append(row);

            row.sortKey = null;

          });

 

          $table.find('th').removeClass('sorted-asc')
                                        .removeClass('sorted-desc');

          var $sortHead = $table.find('th').filter(':nth-child('
                                               + (column + 1) + ')');

          if (newDirection == 1) {

            $sortHead.addClass('sorted-asc');

          } else {

            $sortHead.addClass('sorted-desc');

          }

          $table.find('td').removeClass('sorted')

            .filter(':nth-child(' + (column + 1) + ')')
                                                 .addClass('sorted');

          $table.alternateRowColors($table);

          $table.trigger('repaginate');

        });

      }

    });

  });

});

$(document).ready(function() {

  $('table.paginated').each(function() {

    var currentPage = 0;

    var numPerPage = 1;

   

    var $table = $(this);

   

    $table.bind('repaginate', function() {

      $table.find('tbody tr').show()

        .lt(currentPage * numPerPage)

          .hide()

        .end()

        .gt((currentPage + 1) * numPerPage - 1)

          .hide()

        .end();

    });

 

    var numRows = $table.find('tbody tr').length;

    var numPages = Math.ceil(numRows / numPerPage);

 

    var $pager = $('<div class="pager"></div>');

    for (var page = 0; page < numPages; page++) {

      $('<span class="page-number">' + (page + 1) + '</span>')

       .bind('click', {'newPage': page}, function(event) {

         currentPage = event.data['newPage'];

         $table.trigger('repaginate');

         $(this).addClass('active').siblings().removeClass('active');

       })

       .appendTo($pager).addClass('clickable');

    }

    $pager.find('span.page-number:first').addClass('active');

    $pager.insertBefore($table);

   

    $table.trigger('repaginate');

  });

});
		</script>
		
	</body>
</html>