<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>Backbone Table</title>
		<meta name="description" content="backbone data table">
		<meta name="author" content="sandeep vemula">

		<meta name="viewport" content="width=device-width; initial-scale=1.0">

		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/bootstrap-responsive.css">
		<link rel="stylesheet" href="css/style.css">

		<script src="js/libs/modernizr-2.5.3-respond-1.1.0.min.js"></script>
	</head>
	<body>
		<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
		<div>
			<div class="well">
				<a id="link-skript" href="#" style="border:0;">
					<img class="logo" src="img/logo.jpg" alt="Logo" width="110px">
				</a>
			</div>
		</div>
		
		<div class="container">
			<div class="row">
				<div class="span12">
				
				</div>
			</div>
		</div>
		
		<script id="tpl-table-list-item" type="text/template">
			<table class="table table-bordered table-striped table-condensed">
				<caption>Sample table using Backbone</caption>
				<thead>
					<tr>
						<th>#</th><th>Column1</th><th>Column2</th><th>Column3</th><th></th>
					</tr>
				</thead>
				<tbody>
				<% for (var i = 0; i < data.length; i++) { %>
						<tr>
							<td><%= i %></td>
							<td><%= data[i].col1 %></td>
							<td><%= data[i].col2 %></td>
							<td><%= data[i].col3 %></td>
							<td><input type='checkbox' /></td>
						</tr> 
				<% } %>
				</tbody>
			</table>
			<div class="pull-right">
				<div class="pagination">
					<ul>
						<li class="<%=page.pageP=="null"?"disabled":""%>">
							<a data-rel="page" data-href="<%=page.pageP%>" href="javascript:void(0);">&larr; Prev</a>
						</li>
						<li class="<%=page.pageN=="null"?"disabled":""%>">
							<a data-rel="page" data-href="<%=page.pageN%>" href="javascript:void(0);">Next &rarr;</a>
						</li>
					</ul>
				</div>
			</div>
		</script>
		<hr />
		<footer>
			<p>&copy; InfoSTEP India Pvt. Ltd. 2012</p>
		</footer>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.2.min.js"><\/script>')</script>

		<script src="js/libs/bootstrap/bootstrap.min.js"></script>
		
		<script src="js/libs/underscore.js"></script>
		<script src="js/libs/backbone.js"></script>
		
		<script src="js/bootbox.min.js"></script>

		<script src="js/plugins.js"></script>
		<script src="js/script.js"></script>
		
		<!--
		<script src="js/table/models/table-model.js"></script>
		<script src="js/table/collection/table-collection.js"></script>
		<script src="js/table/views/table-item-view.js"></script>
		<script src="js/table/views/table-view.js"></script>
		<script src="js/table/table-app.js"></script>
		-->
		
		<script src="js/table/table.js"></script>
		
	</body>
</html>